@import '~style/helpers';

.header {
	align-items: center;
    position: fixed;
    justify-content: flex-end;
    display: flex;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    background: transparent;

	nav {
		float: right;
		font-size: 100%;

		a {
			padding: 0 25px;
			min-width: 60px;
			text-align: center;
			// background: hsla(0,0%,100%,0);
			text-decoration: none;
			color: @color-medium-gray;
			will-change: background-color;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 500;

			&:hover, &:active {
				color: @color-light-gray;
			}
		}
	}
}

@media (min-width: 320px) {
	.header {
		justify-content: center;
	}
}