// Fonts:
@import (css) url('https://fonts.googleapis.com/css?family=Lato:300,400,900|Montserrat:400,800&display=swap');

@font-lato: 'Lato', sans-serif;
@font-montserrat: 'Montserrat', sans-serif;

// Color pallette:
@color-deep-orange: #FF5722;
@color-medium-gray: #cbc7c7;
@color-light-gray: #F5F5F5;
@color-dark-gray: #363F46;
@bg-color--primary: #2C2E3A;
@bg-color--secondary: #181A21;
@bg-color--main: #171A21;
@bg-color-gradient: linear-gradient(to bottom left, @bg-color--main, @bg-color--primary);

// Icons
@icon-planet: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABVklEQVRIid2UPU4DMRCFP1YkElLgIEEcAkKHgCChnIE/0aYlDckZaCFcBqrwFwIIjgBaULpdCo/FsLFjb8o8ybJ3xn5vduwZmHcsAlvANTAAPoFvYAj0gRZQnZV8E3gH8sB4BfbKkneBLIJ8oNY9IIkh70QQ27EAHABjJTIV2yXIc3VuXYk0feQV4COS0IVD2fMiXBNolYjYhYS/O9nXRovdAEEIGXAha2ea3kS9T7nINeqyf+hy/ohzBWjPKLAk+1OXMxVnTb6LIjF3siz2L5fAszjrynZWUmCVQor0Jd/KvFEQ6Lii8aAh843LaZ/pHZMlH/MHCfBA4ZlqVDGNKweOIgX0OJF5hKfQwHTFHFP2DWWPERhjamHHR27RUweO+Z+ukMh5iBwhtCI5cA+cAmtTiDMhj2rXFk1M4wpFPSIiLT5UMC/iCnjCFGMKPAKX4vNe6HzgF6jjxek0D3kaAAAAAElFTkSuQmCC');